<div class="sites-page-container">
  <!-- Left Side: Sources Hierarchy Tree View -->
  <div class="site-tree-panel">
    <div class="tree-header">
      <mat-icon>account_tree</mat-icon>
      <span>Sources</span>
      <div class="tree-header-actions">
        <button mat-icon-button matTooltip="Select All" (click)="selectAll()">
          <mat-icon>done_all</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Clear Selection" (click)="clearSelections()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="tree-content">
      <!-- Country Level -->
      <div *ngFor="let country of sources" class="tree-level country-level">
        <div class="tree-node" (click)="toggleCountry(country)">
          <mat-icon class="expand-icon">{{ country.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
          <mat-checkbox
            [checked]="country.selected"
            [indeterminate]="country.indeterminate"
            (click)="$event.stopPropagation()"
            (change)="toggleCountrySelection(country, $event)"
            class="tree-checkbox">
          </mat-checkbox>
          <span class="node-label country-label">{{ country.name }}</span>
        </div>

        <!-- Site Level -->
        <div *ngIf="country.expanded" class="tree-children">
          <div *ngFor="let site of country.sites" class="tree-level site-level">
            <div class="tree-node" (click)="toggleSite(site)">
              <mat-icon class="expand-icon">{{ site.expanded ? 'expand_more' : 'chevron_right' }}</mat-icon>
              <mat-checkbox
                [checked]="site.selected"
                [indeterminate]="site.indeterminate"
                (click)="$event.stopPropagation()"
                (change)="toggleSiteSelection(site, $event)"
                class="tree-checkbox">
              </mat-checkbox>
              <span class="node-label site-label">{{ site.name }}</span>
            </div>

            <!-- Location Level -->
            <div *ngIf="site.expanded" class="tree-children">
              <div *ngFor="let location of site.locations" class="tree-level location-level">
                <div class="tree-node location-node">
                  <div class="tree-indent"></div>
                  <mat-checkbox
                    [checked]="location.selected"
                    (change)="toggleLocation(location)"
                    class="tree-checkbox">
                  </mat-checkbox>
                  <span class="node-label location-label">{{ location.address }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Side: Main Content -->
  <div class="main-content">
    <!-- Table with Help Button -->
    <div class="table-with-help">
      <button
        mat-icon-button
        (click)="toggleHelpPanel()"
        matTooltip="Page help"
        class="floating-help-button">
        <mat-icon>help_outline</mat-icon>
      </button>
      <app-base-table
        [config]="tableConfig"
        [data]="sites"
        [loading]="loading"
      ></app-base-table>
    </div>
  </div>
</div>

<!-- Page Help Panel -->
<app-page-help-panel
  *ngIf="helpContent"
  [content]="helpContent"
  [isOpen]="helpPanelOpen">
</app-page-help-panel>
