.page-container {
  padding: var(--spacing-lg);
  background-color: var(--md-sys-color-surface);
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  gap: 16px;

  app-sync-status-indicator {
    display: block;
  }
}

.page-header-section {
  display: flex;
  align-items: center;
  gap: 12px;

  app-sync-status-indicator {
    flex: 1;
  }

  .action-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
