<div class="page-container">
  <!-- Table with Help Button -->
  <div class="table-with-help">
    <button
      mat-icon-button
      (click)="toggleHelpPanel()"
      matTooltip="Page help"
      class="floating-help-button">
      <mat-icon>help_outline</mat-icon>
    </button>
    <app-base-table
      [config]="tableConfig"
      [data]="clouds"
      [loading]="loading"
      [accessDenied]="accessDenied"
      [accessErrorCode]="accessErrorCode"
      [accessErrorMessage]="accessErrorMessage"
      [accessErrorDetails]="accessErrorDetails"
      [showUpgradeButton]="showUpgradeButton"
      [featureName]="'Cloud Services'"
    ></app-base-table>
  </div>
</div>

<!-- Page Help Panel -->
<app-page-help-panel
  *ngIf="helpContent"
  [content]="helpContent"
  [isOpen]="helpPanelOpen">
</app-page-help-panel>
